

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    
}
body {
    background: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    background-attachment: fixed;
    height: 100%;
    float: left;
    overflow-x: hidden;
}
.title {
  float: left;
  width: 200px;
  height: 150px;
  top: 1;
  bottom: 0;
  margin-left: 550px;
  margin-top: 300px;
  font-size: 50px;
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
  float: right;
  width: 30%;
}

.complet {
  width: 100%;
  height: 100%;
}
ul li {
  list-style: none;
  padding: 20px;
  margin-top: 10px;
  margin-left: 70px;
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul li a {
  font-size: 3em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  width: 500px;
  height: 400px;
}
  
ul:hover li a {
  opacity: 0.1;
}

ul li a:hover {
  opacity: 1;
}

ul li a img {
  position: absolute;
  top: var(--y);
  left: var(--x);
  opacity: 0;
  transform: translate(-50% -50%) scale(0);
  opacity: 0; 
  pointer-events: none;
  transition: 0.2s;
  z-index: -2;
}

ul li a:hover img {
  transform: translate(-50% -50%) scale(1);
  opacity: 1;
}

img {
  width: 900px;
  height: 270px;
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50% -50%);
  pointer-events: none;
  opacity: 0;
  transition: 0.25s;
  font-size: 18vw;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

ul li a:hover::before {
  opacity: 1;
}

.container {
  position: relative;
  display: flex;
  margin-top: 800px;
  /* margin-right: 2000px; */
}

.container2 {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 800px;
  height: 500px;
margin-left: -900px;
}

.container2 .one{
  width: 150px;
  position: relative;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 1s ease-in-out;
  display: flex;
  filter: grayscale(0) brightness(1.25);
  border: 2px solid white;
}

.container2 .two{
  width: 150px;
  position: relative;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 1s ease-in-out;
  display: flex;
  filter: grayscale(0) brightness(1.25);
  border: 2px solid white;
}

.container2 .three{
  width: 150px;
  position: relative;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 1s ease-in-out;
  display: flex;
  filter: grayscale(0) brightness(1.25);
  border: 2px solid white;
}
.container2 .four{
  width: 150px;
  position: relative;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 1s ease-in-out;
  display: flex;
  filter: grayscale(0) brightness(1.25);
  border: 2px solid white;
}

.container2 .five{
  width: 150px;
  position: relative;
  background: var(--img);
  background-size: cover;
  background-position: center;
  transition: 1s ease-in-out;
  display: flex;
  filter: grayscale(0) brightness(1.25);
}

.container2:hover .box {
  filter: grayscale(1);
}

.container2 .one:hover {
  filter: grayscale(0) brightness(1);
}

.container2 .one:hover{
  width: 400px;
  transition: width 1s ease-in-out;
}

.container2 .two:hover{
  width: 400px;
  transition: width 1s ease-in-out;
}

.container2 .three:hover{
  width: 400px;
  transition: width 1s ease-in-out;
}

.container2 .four:hover{
  width: 400px;
  transition: width 1s ease-in-out;
}

.container2 .five:hover{
  width: 400px;
  transition: width 1s ease-in-out;
}



.container2 .box::before {
  content: '';
  position: absolute;
  top: -1px;
  width: 100%;
  height: calc(100% + 2px);
  background: linear-gradient(#000, transparent, transparent, transparent, #000);
}

.container2 .box:nth-child(even) {
  transform: translateY(30px);
}

.container2 .box:nth-child(odd) {
  transform: translateY(-30px);
}